* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
}

a {
  color: rgb(221, 226, 239);
  transition: 0.4s ease;
}

a:visited {
  color: rgb(221, 226, 239);
}

a:hover {
  color: rgb(231, 115, 77);
  text-decoration: underline;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f172a 0%,
    #1e3a8a 40%,
    #581c87 70%,
    #9a3209 100%
  );
  background-attachment: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

.page__wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding-left: 2rem;
  padding-right: 2rem;
}

.title {
  font-size: 3em;
  margin-top: 1.5rem;
  flex-shrink: 0;
  color: rgb(170, 193, 216);
}

.slider__wrapper {
  background-color: rgb(49, 49, 52);
  border: 1.4rem solid rgb(49, 49, 52);
  border-radius: 0.75rem;
}

.slider__box {
  display: flex;
  width: 100%;
  max-width: 55rem;
  height: 30rem;
  overflow: hidden;
}

.slider__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
}

.slider__info-box {
  width: 100%;
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.slider__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  flex-grow: 1;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

.slide__text {
  display: block;
  width: 100%;
  overflow: hidden;
  grid-column-start: 1;
  grid-row-start: 1;

/*   opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease; */
}

.slider__controls-wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.slider__control {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
}

.slider__control-dot {
  display: block;
  width: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #2ea3b6;
  border: 0.15rem solid #6d939e;
  transition: all 0.3s ease;
}

.slider__control:hover .slider__control-dot {
  background-color: #f8fafc;
  border-color: #374151;
  transform: scale(1.3);
}
